// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #3FAF82;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	// height: 2px;
	// width: 2px;
	// background-color: black;
}

#icon {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	cursor: pointer;
	display: inline-block;
	min-height: 48px;
	min-width: 80px;
	//background-color: rgba(100,100,100,.5);
}

.line {
	height: 7px;
	width: 80px;
	background-color: white;
	position: absolute;
	border-radius: 2px;
	box-shadow: 1px 1px 10px gray;
	transition: 1s;

	&-1 {
		//background-color: blue;
		//animation: line1Anim1 1s ease reverse;
		//animation-direction: alternate;
	}
	&-2 {
		top: 20px;
		//background-color: red;
		//animation: line2Anim1 1s ease reverse;
		//animation-direction: alternate;
	}
	&-3 {
		top: 40px;
		//background-color: yellow;
		//animation: line3Anim1 1s ease reverse;
		//animation-direction: alternate;
	}
}

// ANIMATIONS

@keyframes line1Anim1 {
	0% {
		top: 0;
		transform: rotate(0deg);
		box-shadow: 1px 1px 10px gray;
	}
	50% {
		top: 20px;
		transform: rotate(0deg);
		box-shadow: 0px 0px 10px gray;
	}
	100% {
		top: 20px;
		transform: rotate(45deg);
		box-shadow: -1px -1px 10px gray;
	}
}

@keyframes line2Anim1 {
	0% {
		top: 20px;
		opacity: 1;
		transform: scale(1);
	}
	100% {
		top: 20px;
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes line3Anim1 {
	0% {
		top: 40px;
		transform: rotate(0deg);
		box-shadow: 1px 1px 10px gray;
	}
	50% {
		top: 20px;
		transform: rotate(0deg);
		box-shadow: 0px 0px 10px gray;
	}
	100% {
		top: 20px;
		transform: rotate(135deg);
		box-shadow: -1px -1px 10px gray;
	}
}

@keyframes line1Anim1rev {
	0% {
		top: 20px;
		transform: rotate(45deg);
		box-shadow: -1px -1px 10px gray;
		
	}
	50% {
		top: 20px;
		transform: rotate(0deg);
		box-shadow: 0px 0px 10px gray;
	}
	100% {
		top: 0;
		transform: rotate(0deg);
		box-shadow: 1px 1px 10px gray;
	}
}

@keyframes line2Anim1rev {
	0% {
		top: 20px;
		opacity: 0;
		transform: scale(0);
	}
	100% {
		top: 20px;
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes line3Anim1rev {
	0% {
		top: 20px;
		transform: rotate(135deg);
		box-shadow: -1px -1px 10px gray;
	}
	50% {
		top: 20px;
		transform: rotate(0deg);
		box-shadow: 0px 0px 10px gray;
	}
	100% {
		top: 40px;
		transform: rotate(0deg);
		box-shadow: 1px 1px 10px gray;
	}
}